.DS_Store
EuropaClipperJUICEUVSTool/Planning_public/Output/*.sav
EuropaClipperJUICEUVSTool/MapImages/Europa_Voyager_GalileoSSI_global_mosaic_500m_0to360lon.tif
EuropaClipperJUICEUVSTool/Planning_public/Input/Maps/Europa_AlbedoMaps.sav
EuropaClipperJUICEUVSTool/Planning/Input/Moon_AlbedoMaps/
